body {
	background-color: #1a1a1a; // black
	//background-color: #3D72A4; // blue
}

#greeting div {
	display: none;
	color: white;
	position: fixed;
	text-align: center;
	bottom: 0px;
	width: 100%;
	font-size: 30px;
	font-family: serif;
}

#greeting > div {
	height: -10px;
}

#second #third {
	margin-top: 490px;
}

h1 {
	color: white;
	text-align: center;
	font-family: serif;
	display: none;
}

#container {
	width: 70%;
	height: 90%;
	background-color: black;
	border-radius: 5px;
	margin: auto;
	display: none;
}

#user {
	display: none;
	width: 350px;
	height: 200px;
	margin: 0px auto;
	margin-top: 400px;
}

#user > div > div {
	width: 250px;
	height: 40px;
	margin: 0px auto;
	margin-bottom: 10px;
}

#user > div > div > input {
	width: 250px;
	height: 35px;
	background: transparent;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	font-family: sans-serif;
}

#user > div > #btn {
	width: 100px;
	height: 35px;
	margin: 0px auto;
}

#user > div > #btn > #submit {
	width: 100px;
	height: 35px;
	cursor: pointer;
}

.welcome {
	color: white;
	text-align: center;
	font-family: serif;
}

.chatbox {
	width: 300px;
	height: 500px;
	border: solid 1px;
	border-radius: 5px;
	background-color: white;
	margin: auto;
	display: none;
}

#form {
	display: inline-block;
	margin: auto;
	position: center;
}

form input {
	background-color: white;
	border-radius: 5px;
}

#usermsg {
	width: 200px;
	height: 20px;
}

#submitmsg {
	width: 50px;
	height: 20px;
	cursor: pointer;
} 