body{
	background-color: black;
}

.greeting div{
	color: white;
	position: fixed;
	text-align: center;
	bottom:55%;
	width: 100%;
	font-size: 30px;
	font-family: serif;
	
}
#second{
visibility: hidden;


}


 .fadeIn{ 
	animation:fadein 3s;
	-webkit-animation: fadein 3s;


 }
 @-webkit-keyframes fadein { 
 	from {opacity:0;}
 	to {opacity:1;}
  }


  .fadeOut {
  	animation: fadeout 2s;
  	-webkit-animation: fadeout 2s;
  	animation-delay: 2s;
  	-webkit-animation-delay: 2s;
  }

 @-webkit-keyframes fadeout {
 	from{opacity:1;}
 	to {opacity:0;}

  }


  

 .slideUp {

 	animation: mymove 2s;
 	-webkit-animation: mymove 2s;
 	animation:fill-mode: forwards;
 	-webkit-animation:fill-mode:forwards;
 	position: relative;
 	
 }
 @-webkit-keyframes mymove {
 	from {bottom:0%;}
 	to {bottom: 55%;}

 }
 
.container { 
	width: 90%;
	height : 90%;
	border-radius: 5px;
	display:block;
	background-color: #3D72A4;
 }
.bigChatBox {
	width: 300px;
	height: 500px;
	border-radius: 5px;
	background-color: white;
	display: block;
	display: none;
}

#menu { 
	display: none;
 }
.smallChatBox { 
	width: 300px;
	height: 20px;
	background-color: white;
	border-radius: 5px;
	display: block;
	display: none;

 }
h1 { 
	color: white;
	text-align: center;
	display:none;
}

.welcome {
	color: white;
	text-align: center;
	display: none;
	
}


.usrmsg { 
	width: 200px;
	height : 20px;
	border-radius 5px;

 }
 .submitmsg { 
 	width: 50px;
 	height: 20px;
 }
 .center { 
	margin: auto;
  }

  form input { 
  	background-color: white;
  	margin:auto;
   }

   #user {
	
	width: 350px;
	height: 200px;
	margin: 0px auto;
	margin-top: 400px;
}

#user > div > div {
	width: 250px;
	height: 40px;
	margin: 0px auto;
	margin-bottom: 10px;
}

#user > div > div > input {
	width: 250px;
	height: 35px;
	background: transparent;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	font-family: sans-serif;
}

#user > div > #btn {
	width: 100px;
	height: 35px;
	margin: 0px auto;
}

#user > div > #btn > #submit {
	width: 100px;
	height: 35px;
	cursor: pointer;
			

	