
/*
6599FF  ??
*/
body{
	background-color: #81A594;
	color: #00FF00;
	color:white;
	font-family: monospace;		

}
.what{
	margin-top : 6em;
	background: #000;
	border-radius: 1em;
	border: 2em solid #BDBDBD;

}

.col-center{
	margin: 0 auto;
	float:none;
}

.topBox{
	width: 310px;
	height:60px;
	margin:auto;
	border-radius: 5px;
	color: black;
	font-size:2em;

}
input[type = text]{
	color: black;
}


.greeting {
	margin-top: 4em;
	font-size: 2.2em;

	
}


#user {

	width: 350px;
	height: 200px;
	margin: 0px auto;
	margin-top: 3em;
}

#user > div {
	width: 250px;
	margin-bottom: 10px;
}

.input {
	margin : 0px auto;
	width: 250px;
	height: 40px;
	
	border-radius: 5px;
	font-size: 20px;
	font-family: sans-serif;
}



/* chat.html
--------------------------------------------------------------
*/
.bigChatBox {
	width: 310px;
	height: 450px;
	border-radius: 5px;
	background-color: white;
	display: block;
	position:relative;
	margin-bottom: 10px;

	
	
}
.bigchatBox div {
	color: black;
}

.text {
	position: absolute; 
bottom: 0;
}


.smallChatBox { 
	

	width: 310px;
	

 }
h1 { 
	text-align: center;

	
}

.welcome {
	
	/*display: none; */
	padding: 2em 0em;
	font-size:2em;
	
	
}



 
 .center { 
 	float:none;
	margin: auto;
  }

  form input { 
  	background-color: white;
  	margin:auto;
   }



.chat {
		width : 50%;
		background: #666;
		padding: 10px 0px;
		

}
.lol{
	border: 2px solid red;
	margin-bottom: 15px;
}

